config.h.in~
*.[oa]
/dbg/
/release/
/build/
/autom4te.cache/
.cproject
.project
.settings
*.in
aclocal.m4
ar-lib
compile
config.guess
config.sub
config.log
config.status
configure
stamp-h1
depcomp
install-sh
ltmain.sh
m4/
missing
cmake/
*.l[oa]
*.pc
libtool
pcp_app/pcp
pcp_server/pcp-server
tests/test_event_handler
tests/test_flow_notify
tests/test_gw
tests/test_lifetime_renewal
tests/test_pcp_api
tests/test_pcp_client_db
tests/test_pcp_client_map_opcode
tests/test_pcp_client_peer_opcode
tests/test_pcp_logger
tests/test_pcp_msg
tests/test_ping_gws
tests/test_server_reping
tests/test_server_restart
tests/test_sock_ntop
tests/test_version_negotiation
test_results.txt
